*{
	margin: 0;
	padding: 0px;
}
body{
	font-family: 'segoe UI',tahoma,geneva,verdana,sans-serif;
}
section{
	width: 25%;
	height: 100%;
	background-color: #eeeeee;
	text-align: center;
	float: left;
}
section img{
	width: 150px;
	border-radius: 50%;
	margin-top: 200px;
}
.intro{
	padding: 100px;
	margin: 150px 20px;
}
.exp{
	padding: 100px;
	margin: 150px 20px;
}
 .skills{
	 padding: 100px;
	margin: 150px 20px;
 }
 }
#continer{
	float: left;
	width:70%;
}
.name{
	margin-top:120px;
	margin-left: 100px;
}
.name h1{
	color: #FFFF00;
	font-size: 50px;
}
.social{
float: right;
margin-top:70px;
}
.social img{
	width: 50px;
}
#com{
	margin-top: 250px;
	margin-left: 100px;
	border-top: 4px solid #FFFF00;
	text-align: center;
}
.com1{
	width: 15%;
	float: left;
	padding: 20PX;
}
.intro-cap{
	padding: 100px;
	margin: 30px 0px;
	margin-top: 80px;
	background-color: #F0F8FF;
}
.exp-cap{
	margin-left: 100px;
	
}
.exp1{
	width: 35%;
	float: left;
padding: 10px;
margin: 10px;
}
 h2 span{
	color: #FFFF00;
	padding-right: 5px;
}
.clr{
	clear: 
}
.skill-cap{
    background-color: #rgb(250,250,250);
    margin-top: 150px;

}
.skill{
	width: 30%;
	float: left;
	margin-left: 50px;
	margin-top: 50px;
}
.skill1{
	width: 100%;
	height:7px;
	background-color: gray;
	margin-top: 20px;
}
.skill1 .one{
	width: 80%;
	height: 7px;
	background-color: #e8a317;
}
.skill1 .two{
	width: 100%;
	height: 7px;
	background-color: #e8a31
}
.skill1 .three{
	width: 100%;
	height: 7px;
	background-color: #e8a31
}
.skill1 .four{
	width: 90%;
	height: 7px;
	background-color: #e8a31
}
.skill1 .faif{
	width: 60%;
	height: 7px;
	background-color: #e8a31
}
.skill1 .sasn{
	width: 65%;
	height: 7px;
	background-color: #e8a31
}